In [1]:
# !pip install seaborn

In [2]:
import seaborn as sns

In [3]:
sns.__version__

'0.10.0'

In [4]:
import pandas as pd

In [5]:
pokemon_data = pd.read_csv('Pokemon.csv')

In [6]:
pokemon_data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
pokemon_data.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [8]:
len(pokemon_data)

800

In [9]:
pokemon_data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# Different Visualization techniques in Seaborn

In [10]:
# Univariate - single variable 
# Bivariate - two variabes - Scatter plot

In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
pokemon_data = pd.read_csv('Datasets/Pokemon.csv')

FileNotFoundError: [Errno 2] File Datasets/Pokemon.csv does not exist: 'Datasets/Pokemon.csv'

In [ ]:
sns.distplot(pokemon_data['Attack Point'])
plt.show()

In [ ]:
sns.distplot(pokemon_data['Attack Point'], color = 'black')
plt.show()

In [ ]:
hist = sns.distplot(pokemon_data['Attack Point'], kde = False)
hist.set_title('Attack capability')
hist.set_xlabel('Attack Point')
hist.set_ylabel('Frequency')
plt.show()

In [ ]:
hist = sns.distplot(pokemon_data['Attack Point'], hist = False)
hist.set_title('Kernel Density plot')
hist.set_xlabel('Attack')
hist.set_ylabel('Unit Probability')
plt.show()

In [ ]:
hist = sns.distplot(pokemon_data['Attack Point'], rug = True)
hist.set_title('Attack capability with Density and Rug plot')
hist.set_xlabel('Attack')
plt.show()

In [ ]:
sns.rugplot(pokemon_data['Attack Point'],
            height = 0.5,
            axis = 'x')
plt.show()

In [ ]:
sns.distplot(pokemon_data['Attack Point'],
             bins = 40,
             kde = False,
             rug = True)
plt.show()

In [ ]:
sns.distplot(pokemon_data['Attack Point'],
             bins = 75,
             kde = False,
             rug = True)
plt.show()

In [ ]:
sns.distplot(pokemon_data['Attack Point'],
             bins = 15,
             kde = False,
             rug = True)
plt.show()

In [ ]:
sns.distplot(pokemon_data['Attack Point'],
             bins = 40,
             hist = False,
             rug = True)
plt.show()

In [ ]:
sns.set(color_codes = True)
sns.kdeplot(pokemon_data['Attack Point'],
            shade = True,
            color = 'g')
plt.show()

In [ ]:
hist = plt.subplots(figsize=(20,5))
sns.kdeplot(pokemon_data['Attack Point'])
sns.kdeplot(pokemon_data['Attack Point'],bw = 0.7,label ='bw:0.7')
sns.kdeplot(pokemon_data['Attack Point'],bw = 6,label ='bw:6')
sns.kdeplot(pokemon_data['Attack Point'],bw = 30,label ='bw:30')
sns.kdeplot(pokemon_data['Attack Point'],bw = 110,label ='bw:110')
plt.show()

In [ ]:
sns.jointplot(x ='Attack Point',
              y ='Defense Point',
              data = pokemon_data)
plt.show()

In [ ]:
sns.jointplot(x = 'Attack Point',
              y ='Defense Point',
              data = pokemon_data,
              xlim = {0,450},
              ylim = {0,200})
plt.show()

In [ ]:
with sns.axes_style('white'):
    sns.jointplot(x ='Attack Point',
                  y ='Defense Point',
                  data = pokemon_data,
                  kind ='hex',
                  color ='b')

In [ ]:
with sns.axes_style('white'):
    sns.jointplot(x ='Attack Point',
                  y ='Defense Point',
                  data = pokemon_data,
                  kind ='kde')

In [ ]:
sns.kdeplot(pokemon_data['Attack Point'],
            pokemon_data['Defense Point'],
            color = 'r',
            )
plt.show()

In [ ]:
sns.kdeplot(pokemon_data['Attack Point'],
            pokemon_data['Defense Point'],
            clip = (0,100))
plt.show()

In [ ]:
sns.kdeplot(pokemon_data['Attack Point'],
            pokemon_data['Defense Point'])
plt.xlim(0,750)
plt.ylim(0,500)

In [ ]:
sns.kdeplot(pokemon_data['Attack Point'],
            pokemon_data['Defense Point'])
sns.rugplot(pokemon_data['Attack Point'],
            color = 'r',
            height = .05)
sns.rugplot(pokemon_data['Defense Point'],
            color = 'b',
            vertical = True,
            height = .05)
plt.show()

In [ ]:
cormat = pokemon_data.corr()
plt.subplots(figsize = (7,7))
sns.heatmap(cormat, vmax = .8,
            square = True,
            annot = True, 
            fmt ='.2f', 
            cmap = 'Blues')
plt.show()