|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [1]:
import pandas as pd

In [5]:
# df = pd.read_csv(r'..\Assignments\titanic_dataset.csv') # \t
#df = pd.read_csv(r'https://raw.githubusercontent.com/leangaurav/dsc_weekday_1/master/Assignments/titanic_dataset.csv')
df = pd.read_csv('titanic_dataset.csv') # \t

In [ ]:
df.describe(include='all')

In [ ]:
print(df.head())

In [6]:
# give me names of columns which are missing alteast one value.
r = df.count()
r[r < df.shape[0]].index

df.columns[df.isnull().any()]

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

In [7]:
perc = len(df) * .75
r = df.dropna(thresh = perc, axis = 1)
print(r.columns)

print(df.count()/1309 * 100)

print(1309*0.75)
df.count()

Index(['Unnamed: 0', 'pclass', 'survived', 'name', 'gender', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'embarked'],
      dtype='object')
Unnamed: 0    100.000000
pclass        100.000000
survived      100.000000
name          100.000000
gender        100.000000
age            79.908327
sibsp         100.000000
parch         100.000000
ticket        100.000000
fare           99.923606
cabin          22.536287
embarked       99.847212
boat           37.127578
body            9.243697
home.dest      56.913675
dtype: float64
981.75

Unnamed: 0    1309
pclass        1309
survived      1309
name          1309
gender        1309
age           1046
sibsp         1309
parch         1309
ticket        1309
fare          1308
cabin          295
embarked      1307
boat           486
body           121
home.dest      745
dtype: int64

In [ ]:
perc = len(df) * .75
df.dropna(thresh = perc, axis = 1, inplace=True)
print(df.columns)

In [ ]:
df.drop(columns=['Unnamed: 0', 'name'], inplace=True)
print(df.columns)