In [1]:
# all imports go at the top, even though python is a very open language
import numpy as np
import pandas as pd

## Series

In [4]:
# Normal series and series with custom index
s1 = pd.Series([1,2,3])
s2 = pd.Series([1,2,3, np.nan], index=list("abcd"))
print(s1)
print()
print(s2)

0    1
1    2
2    3
dtype: int64

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

In [ ]:
# changing dtype: astype

In [7]:
# shape, size, dtype, index, values
print(s1.shape)
print(s1.size)
print(s1.dtype)
print(s1.index)
print(s1.values)

(3,)
3
int64
RangeIndex(start=0, stop=3, step=1)
[1 2 3]

In [10]:
# aggregate operations: min, max, unique, sum etc.
print(s1.min())
print(s1.max())
print(s1.unique())
print(s1.sum())
print()
print(s2.min())
print(s2.max())
print(s2.unique())
print(s2.sum())
print()

1
3
[1 2 3]
6

1.0
3.0
[ 1.  2.  3. nan]
6.0

In [ ]:
# arithmetic operations(new copy) and broadcast like numpy

In [ ]:
# indexing and slicing

In [ ]:
# result of operations as index

In [ ]:
# frequency : value_counts

## DataFrame

In [11]:
# dataframe from dict or list of rows
df1 = pd.DataFrame(
    {
        "Name":   ["Gaurav", "Abhishek1", "Krishna", "Abhishek2", "Harshita", "Joey", "Shweta", "na-1" , "na-2"  , np.nan],
        "Age":    [ 0      , 1          , 2        , 2          , 1         , 2     , 3       , 1      ,  np.nan , 2     ],
        "Gender": [ 0      , 0          , 0        , 0          , 1         , 1     , 1       , np.nan ,  0      , 0     ]
    }
)
df2 = pd.DataFrame([("Gaurav",1), ("Abhiskek",2), ("Krishna",3), ("Abhishek2",4)],
                    index=[0,11,2,3], 
                    columns=["Name", "Number"])
print(df1)
print()
print(df2)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

         Name  Number
0      Gaurav       1
11   Abhiskek       2
2     Krishna       3
3   Abhishek2       4

In [13]:
# shape, size, dtypes, index, columns, unique, T
print(df1.shape)
print(df1.dtypes)
print(df1.index)
print(df1.columns)
# print(df1.unique)
print(df1.T)

(10, 3)
Name       object
Age       float64
Gender    float64
dtype: object
RangeIndex(start=0, stop=10, step=1)
Index(['Name', 'Age', 'Gender'], dtype='object')
             0          1        2          3         4     5       6     7  \
Name    Gaurav  Abhishek1  Krishna  Abhishek2  Harshita  Joey  Shweta  na-1
Age          0          1        2          2         1     2       3     1
Gender       0          0        0          0         1     1       1   NaN

           8    9
Name    na-2  NaN
Age      NaN    2
Gender     0    0

In [ ]:
# Rename index and columns on df2.
# Inplace vs normal operation

In [ ]:
# Indexing columns directly and via index.

In [ ]:
# Series in a DataFrame

In [ ]:
# describe, top/bottom rows of data

In [ ]:
# indexing and slicing
# loc, iloc [rows, cols]

In [ ]:
# aggregate operations (with and without axis : row-1, col-0)
# min, max, count, ...

In [ ]:
# arithmetic operations

In [ ]:
# Na Values: isna, fillna, dropna

In [ ]:
# any, all

In [ ]:
# ordering data, sort_values

In [ ]:
# row / column wise operation: apply
tmp = pd.DataFrame(np.random.randint(10,20,20).reshape(5,4))

In [ ]:
# str submodule (replace etc)

In [ ]:
# load and save data

In [ ]:
# groups: groupby

In [ ]:
# groups and aggregates